#main {
    background-color: white;
    background-image: url("../../src/assets/Background-5.png");
    background-size: cover;
    min-height: 100%;
}

#novelname1 {
    display: "inline-block";
}

#root {
    height: 100%;
}

.content {
    margin-left: 15px;
}

.margin1 {
    margin-left: 1%;
}

#novelTitle {
    width: 70%;
    margin-left: 5px;
    text-align: left;
}

.row {
    display: flex;
}

.coverContainer1{
    width: 20%;
    display: block;
    min-height: 420px;
    
}
#BookCover1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: top;
    border: 1px solid gray;
}

#summary {
    opacity: 0.8;

    background-color: #F7FCFB;
    
    margin-left: 40px;
    width: 50%;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 7px;

    border: 1px solid gray;
}

#buttons {
    width: 20%;
    display: flex;

}

#followNovelButton {
    /* float: left; */
    margin-right: 10px;
    display: block;
    width: 33%;
    padding: 2px;
    /* background-color:floralwhite; */
    /* border-radius: 20px; */
}

#kudosNovelButton {
    /* float: left; */
    margin-right: 10px;
    display: block;
    width: 33%;
    padding: 2px;
    /* background-color:floralwhite; */
    /* border-radius: 20px; */

}

#supportNovelButton {
    /* float: left; */
    display: block;
    width: 33%;
    padding: 2px;
    /* background-color:floralwhite; */
    /* border-radius: 20px; */
}

#tags {
    width: 50%;
    padding-inline-start: 20px;
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.tagentry {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    list-style: none; /* Gets rid of list bullet points */
    background-color: rgb(231, 225, 255);
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
    padding: 5px;
    max-height: 20px;
    /* border-color: lightgray;
    border-width: 0.2; */
}

.tagentry li {
    text-align: center;
}

#infoBMP {

    width: 20%;
    margin-left: 20px;
    position: relative;

}

.cursorGrab {
    cursor: pointer;
}

/* .cursorGrab :hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.16) 0 0);
} */

.inlineBlock {
    display: inline-block;
}

#authorInfo {

    opacity: 0.9;

    z-index: 0;
    top: 12%;
    width: 80%;
    position: absolute;
    /* border-style: solid; */
    border-color: gray;
    /* padding: 15px; */
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
    background-color: #F7FCFB;
}

#bookTitle {
    color: white;
    text-shadow: 0px 2px rgba(0, 20, 60, 0.8),
    2px 0px rgb(0, 0, 0),
    0px -2px rgb(0, 0, 0),
    -2px 0px rgb(0, 0, 0);
}

#metadata {
    position: absolute;
    width: 80%;
    bottom: 0px;
    /* border-style: solid; */
    border-color: gray;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(245, 245, 249);
}

#authorProfilePic {
    z-index: 1;
    position: absolute;
    top: -5%;

    display: block;
    left: 30%;
    margin-right: auto;
    width: 30%;
    border-radius: 50%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    clip-path: circle();
    /* object-fit: cover; */

    /* float: left; */
}

#chapters {
    float: left;
    clear: both;

    border-radius: 7px;

    background-color: #F7FCFB;

    opacity: 0.9;

    margin-top: 20px;
    margin-right: 10px;
    border: 1px solid gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
    /* background-color:rgb(245, 245, 249); */
    width: 45%;

}

#chapters tr {
    border-bottom: 1px solid gray;
}

#chapterTitle {
    display: inline-block;
    margin-left: 30px;
    min-width: 30%;
    color: darkblue;
}

th {
    min-width: 100px;
    width: 23%;
}

#chapters tr button {
    margin: 10px 10px 10px 20px;
    padding: 5px 25px 5px 25px;
}

#chapters ul {
    /* border-style: solid;
    border-color: gray; */
    padding-left: 0;

}

#chapters ul li {
    cursor: 'pointer';
    list-style: none;
}

#chapters ul li button {
    margin-Left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 15%;
    font-size: 0.9em;
}

#reviews {
    border-radius: 7px;

    float: left;
    opacity: 0.9;
    min-width: 200px;
    width: 45%;
    margin-top: 20px;
    margin-right: 10px;
    border: 1px solid gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1px;
    padding-top: 0px;
    background-color: #F7FCFB;

}

#reviews ul {
    /* border-top: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid; */
    padding-top: 1px;
    padding-left: 0px;
}

.profilepic {
    width: 10%;
    border-radius: 50%;
    clip-path: circle();
    /* display: inline; */
}

#reviews ul li {
    /* border-style: solid; */
    border-color: lightgray;

    border-width: 0.1px;
    /* border-bottom: 1px; */
    border-radius: 5px;

    list-style: none;
    margin-bottom: 5px;
    padding: 5px;
}

#username {
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
}

#newReview {
    width: 80%;
    /* min-height: 20px; */
    margin-bottom: 20px;
}

#reviewContent {
    margin-left: calc(10% + 8px);
    margin-top: 5px;
    white-space: pre-line;
}

#addReviewButton {
    margin-left: calc(10% + 8px);
    height: 15%;
    display: block;
    align-items: center;
}

#removeReview {
    margin-left: auto;
    /* margin-bottom: 2px; */
}

#uploadText {
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 5px;
}

.hoverable:hover {
    cursor: grab;
    border-color: red;
}

.editButton {
    width: 35%;
    font-size: 1em;
    margin-top: 0.5em;
    font-weight: bold;
    border: black solid 1px;
}

.slightTopMargin {
    margin-top: 1.8em;
}

#addChapter {
    margin-top: 25px;
    background-color: lightyellow;
}

#submitChapter {
    background-color: lightcoral;
}

.star {
    width: 5%;
    margin-left: 1%;
}

.starDisplay {
    width: 2.5%;
    height: 2.5%;
    margin-top: 3.8%;
    margin-left: 1%;
}

#starDiv {
    margin-left: 2%;
}