.explorePage {
    background-image: url("../../src/assets/Background-4.png");
    background-size: cover;
    /* align-items: center; */
    background-position: center; 
    min-height: 100%;
}

.exploreTitleContainer {
    margin-top: 20px;
    margin-bottom: 0px;
    width: 100%;
}

.exploreTitle {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: -1px 1px 0 #000,
                 1px 1px 0 #000,
                 1px -1px 0 #000,
                 -1px -1px 0 #000;
    font-size: 1.5em;
    margin-top: 50px;
}